<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance tracker</title>
</head>
<body>
    <h1> <a href="{% url 'main' %}">Finance tracker</a></h1>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <div>
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'task_add' %}">Создать задачу</a>
            <a href="{% url 'transaction' %}">Транзакции</a>
            <div>
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{user.username}}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>